@import "../../../index.css";

.Portada {
  /* Add your component styles here */
}

.container-logo-portada {
  background-image: url("../../../assets/fondos/nuevoFondoPortada.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 768px */
@media screen and (min-width: 768px) {
  .container-logo-portada {
    background-image: none;
  }

  .container-logo-total {
    background-image: url("../../../assets/fondos/nuevoFondoPortada.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
