@import "./index.css";

/* ==========================
   Botones (Buttons)
   ========================== */

.p-button.p-button-icon-only {
  background-color: var(--earth-yellow) !important;
  border-color: var(--jasmin-yellow) !important;
}

.p-button.p-button-outlined {
  background-color: transparent !important;
  border-color: var(--jasmin-yellow) !important;
  color: var(--jasmin-yellow);
  border: 1px solid;
  /* Borde sólido */
}

.p-button.p-button-outlined:not(:disabled):hover {
  color: #ffffff;
}

.p-button.p-button-text {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--jasmin-yellow) !important;
}

.p-button {
  background-color: var(--earth-yellow) !important;
  border-color: var(--jasmin-yellow) !important;
}

.p-button:not(:disabled):hover {
  background-color: var(--earth-yellow) !important;
  border-color: var(--jasmin-yellow) !important;
  color: #ffffff !important;
}

.p-button-label {
  font-weight: 400 !important;
}

/* ==========================
   Colores Amarillos (Yellow Colors)
   ========================== */

.text-js-yellow {
  color: var(--jasmin-yellow) !important;
}

.bg-js-yellow {
  background-color: var(--jasmin-yellow) !important;
}

.border-js-yellow {
  border-color: var(--jasmin-yellow) !important;
}

.border-eh-yellow {
  color: var(--earth-yellow) !important;
}

.bg-eh-yellow {
  background-color: var(--earth-yellow) !important;
}

.text-eh-yellow {
  color: var(--earth-yellow) !important;
}

/* ==========================
   Colores Azules (Blue Colors)
   ========================== */

.bg-blue-dark {
  background-color: var(--blue-pop-bg-dark) !important;
}

.bg-blue {
  background-color: var(--blue-pop-bg-blue) !important;
}

/* ==========================
   Colores Dorados (Gold Colors)
   ========================== */

.border-pop-gold {
  color: var(--gold-popla) !important;
}

.bg-pop-gold {
  background-color: var(--gold-popla) !important;
}

.text-pop-gold {
  color: var(--gold-popla) !important;
}

/* ==========================
   Colores Amarillos Pop (Yellow Pop Colors)
   ========================== */

.border-pop-yellow {
  color: var(--yellow-popla) !important;
}

.bg-pop-yellow {
  background-color: var(--yellow-popla) !important;
}

.text-pop-yellow {
  color: var(--yellow-popla) !important;/
}

/* ==========================
   Colores Grises (Gray Colors)
   ========================== */

.text-gray-500 {
  color: #999999 !important;
}

/* ==========================
   Sombra de Contenedor (Container Shadow)
   ========================== */

.container-shadow-js {
  box-shadow: inset 0 0 10px 5px var(--jasmin-yellow);
}