.Banner {
  background-size: contain, 20%;
  background-position: left, right;
  background-repeat: no-repeat;
}

.BannerMobile {
  background-size: cover, 40%;
  background-position: left, 100% 95%;
  background-repeat: no-repeat;
}
